<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
	<meta name="description" content="I'm Mireu, a developer who wants to make inconvenience creative and convenient." />
	<meta name="author" content="Mireu Lim Portfolio WebPages" /> 
	
	<meta property="og:type" content="website">
	<meta property="og:title" content="Mireu Lim Portfolio WebPages" >
	<meta property="og:description" content="I'm Mireu, a developer who wants to make inconvenience creative and convenient.">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	<script src="https://kit.fontawesome.com/5a354dca55.js" crossorigin="anonymous"></script>
</head>

<body class="is-preload" style="margin:0; padding:0">
	<div class="wrap" align="middle">
		<div style="background-color: #000;">
			<div class="background" style="background-color: {{user_info['signature_color']}};"></div>
		</div>
		
        <div class="text">
			<h1 class="name">{{user_info["name"]}}</h1>
			<h4 class="copyright">| 
				<a href="mailto:{{user_info['email']}}">Email</a>  | 
				{% for url in user_info["URL"] %}
					<a href="{{user_info['URL'][url]}}">{{url}}</a> |
				{%endfor%}
			</h4>
		</div>
	</div>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#about" class="active">About</a></li>
				<li><a href="#skill">Skill</a></li>
				<li><a href="#project">Project</a></li>
				<li><a href="#career">Career</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="about" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>About me</h2>
						</header>
						{% for about in user_info["about"] %}
							<p>{{about}}</p>
						{%endfor%}
					</div>
				</div>
			</section>

			<!-- First Section -->
			<section id="skill" class="main special">
				<header class="major">
					<h2>Skill</h2>
				</header>
				<ul class="features">
				{% for lang in langs.items() %}
					<li>
						<i class="{{lang[0]}}" style="color: {{lang[1]['color']}};"></i>
						<h3 class='skill-name'>{{lang[1]['name']}}</h3>
						{% for framework in lang[1]['framework'] %}
						<h4 class="skill-detail">{{framework}}</h4>
						{%endfor%}
					</li>
				{%endfor%}
				</ul>
			</section>

			<!-- Second Section -->
			<section id="project" class="main special">
				<header class="major">
					<h2>Project</h2>
				</header>
				<!-- <pre class="project_info"></pre> -->
				<ul class="features">
					{% for name in projects.items() %}
					<li>
						<div class="card">
							<i class="fab fa-{{name[1]['lang']}} fa-4x" style="color: {{name[1]['color']}}; margin-top: 20px;"></i>
							<h3 class="project-name">{{name[0]}}</h3>
							<h4 class="project-detail">{{name[1]['info_text']}}</h4>
							<div>
								<a href="{{name[1]['github']}}">
									<i class="fab fa-github fa-2x" style="margin-bottom: 20px; margin-top: 9px;" aria-hidden="true"></i>
								</a>

								{% if name[1]['url']%}
								<a href="https://{{name[1]['url']}}">
									<i class="fa-solid fa-globe fa-2x" style="margin-bottom: 20px; margin-top: 9px;" aria-hidden="true"></i>
								</a>
								{%endif%}
							</div>						
						</div>
					</li>
				{%endfor%}
				</ul>
				<footer class="major">
					<ul class="actions special">
						<li><a href="{{user_info['URL']['GitHub']}}" class="button">More on Github</a></li>
					</ul>
				</footer>
			</section>

			<!-- Introduction -->
			<section id="career" class="main">
				<!-- special -->
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Career</h2>
						</header>
						{% for career in career.items() %}
						<div>
							<h3>{{career[0]}}</h3>
							{% for career in career[1] %}
							<p><pre>{{career}}</pre></p>
							{%endfor%}
						</div>
						{%endfor%}
					</div>
				</div>
			</section>

			<!-- Get Started -->
			<section id="contact" class="main special">
				<header class="major">
					<h2>Contact</h2>
				</header>
				<p>Email : <a href="mailto:{{user_info['email']}}" target="_top">{{user_info['email']}}</a></p>
				{% for url in user_info["URL"] %}
					<p>{{url}} : <a href="{{user_info['URL'][url]}}" target="_top">{{user_info['URL'][url]}}</a></p>
				{%endfor%}
				</br></br>
				<h4 class="copyright">
					<a href="{{user_info['URL']['GitHub']}}/portfolio-webpages">Copyrightⓒ2022 by Mireu Lim</a>
				</h4>
			</section>
		</div>
	</div>
	
	<!-- Scripts -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
