[Unit]
Description=portfolio-webpages server
After=syslog.target

[Service]
User=root

PermissionsStartOnly=true
WorkingDirectory = /
ExecStart = python3 /home/mireu/project_file/portfolio-webpages/App/main.py

Restart=always

[Install]
WantedBy=multi-user.target
