<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
	<meta name="description" content="I'm Mireu, a developer who wants to make inconvenience creative and convenient." />
	<meta name="author" content="Mireu Lim Portfolio WebPages" /> 
	
	<meta property="og:type" content="website">
	<meta property="og:title" content="Mireu Lim Portfolio WebPages" >
	<meta property="og:description" content="I'm Mireu, a developer who wants to make inconvenience creative and convenient.">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
	<script src="https://kit.fontawesome.com/5a354dca55.js" crossorigin="anonymous"></script>
</head>

<body class="is-preload" style="margin:0; padding:0">
	<div class="wrap" align="middle">
		<div style="background-color: #000;">
			<img class="background" src="{{ url_for('static', filename='assets/images/background.png') }}"></img>
			<!-- <video src="{{ url_for('static', filename='assets/images/main.mp4') }}" style="opacity: 0.5;" autoplay muted loop></video> -->
		</div>
		
        <div class="text">
			<h1 class="name">Lim Mireu</h1>
			<h4 class="copyright">| 
				<a href="mailto:{{email}}">Email</a>  | 
				<a href="{{github_url}}">GitHub</a> |
			</h4>
		</div>
	</div>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#about" class="active">About</a></li>
				<li><a href="#skill">Skill</a></li>
				<li><a href="#project">Project</a></li>
				<li><a href="#career">Career</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="about" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>About me</h2>
						</header>
						<p>Hello :) I'm Mireu, a student developer who wants to change uncomfortable things creatively!</p>
						<p>We are working on the project using Python and GoLang.</p>
						<p>Currently, I am interested in AI, so I am preparing projects and papers on the theme of AI.</p>
					</div>
					<span class="image">
						<img src="{{ url_for('static', filename='assets/images/icon_new.png') }}" alt="">
					</span>
				</div>
			</section>

			<!-- First Section -->
			<section id="skill" class="main special">
				<header class="major">
					<h2>Skill</h2>
				</header>
				<ul class="features">
					<li>
						<i class="fab fa-python fa-5x" style="color: #3776AB;"></i>
						<h3 class='skill-name'>Python</h3>
						<h4 class="skill-detail">TensorFlow</h4>
						<h4 class="skill-detail">FastApi</h4>
						<h4 class="skill-detail">Flask</h4>
					</li>
					<li>
						<i class="fab fa-golang fa-5x" style="color: #29BEB0;"></i>
						<h3 class='skill-name'>GoLang</h3>
					</li>
					<li>
						<i class="fas fa-database fa-5x" style="color: #003B57;"></i>
						<h3 class='skill-name'>Database</h3>
						<h4 class="skill-detail">MySQL</h4>
						<h4 class="skill-detail">MongoDB</h4>
					</li>
					<li>
						<i class="fas fa-server fa-5x" style="color: #A22846;"></i>
						<h3 class='skill-name'>Server</h3>
						<h4 class="skill-detail">Ubuntu</h4>
						<h4 class="skill-detail">Docker</h4>
					</li>
					<li>
						<i class="fab fa-git-square fa-5x" style="color: #F05032;"></i>
						<h3 class='skill-name'>Git</h3>
						<h4 class="skill-detail"><a href="{{github_url}}">GitHub</a></h4>
					</li>
					<li>
						<i class="fas fa-file-video fa-5x" style="color: #001722;"></i>
						<h3 class='skill-name'>Video Editor</h3>
						<h4 class="skill-detail">DaVinci Resolve</h4>
						<h4 class="skill-detail">Adobe Premiere Pro</h4>
					</li>
				</ul>
			</section>

			<!-- Second Section -->
			<section id="project" class="main special">
				<header class="major">
					<h2>Project</h2>
				</header>
				<!-- <pre class="project_info"></pre> -->
				<ul class="features">
					<li>
						<div class="card">
							<i class="fab fa-{{dply_lang}} fa-4x" style="color: #3776AB; margin-top: 20px;"></i>
							<h3 class="project-name">Dply App</h3>
							<h4 class="project-detail">{{dply_info}}</h4>
							<div>
								<a href="{{dply_github}}">
									<i class="fab fa-github fa-2x" style="margin-bottom: 20px; margin-top: 9px;" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<i class="fab fa-{{frontera_lang}} fa-4x" style="color: #3776AB; margin-top: 20px;"></i>
							<h3 class="project-name">Frontera</h3>
							<h4 class="project-detail">{{frontera_info}}</h4>
							<div>
								<a href="{{frontera_github}}">
									<i class="fab fa-github fa-2x" style="margin-bottom: 20px; margin-top: 9px;" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<i class="fab fa-{{yuna_lang}} fa-4x" style="color: #3776AB; margin-top: 20px;"></i>
							<h3 class="project-name">Yuna</h3>
							<h4 class="project-detail">{{yuna_info}}</h4>
							<div>
								<a href="{{yuna_github}}">
									<i class="fab fa-github fa-2x" style="margin-bottom: 20px; margin-top: 9px;" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</li>
					<!-- <li>
						<div class="card">
							<i class="fab fa-{{diary_lang}} fa-4x" style="color: #3776AB; margin-top: 20px;"></i>
							<h3 class="project-name">Diary</h3>
							<h4 class="project-detail">{{diary_info}}</h4>
						</div>
					</li> -->
					<li>
						<div class="card">
							<i class="fab fa-{{hana_lang}} fa-4x" style="color: #3776AB; margin-top: 20px;"></i>
							<h3 class="project-name">Hana</h3>
							<h4 class="project-detail">{{hana_info}}</h4>
							<div>
								<a href="{{hana_github}}">
									<i class="fab fa-github fa-2x" style="margin-bottom: 20px; margin-top: 9px;" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<i class="fab fa-{{mina_lang}} fa-4x" style="color: #3776AB; margin-top: 20px;"></i>
							<h3 class="project-name">Mina</h3>
							<h4 class="project-detail">{{mina_info}}</h4>
							<div>
								<a href="{{mina_github}}">
									<i class="fab fa-github fa-2x" style="margin-bottom: 20px; margin-top: 9px;" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</li>
				</ul>
				<footer class="major">
					<ul class="actions special">
						<li><a href="{{github_url}}" class="button">More on Github</a></li>
					</ul>
				</footer>
			</section>

			<!-- Introduction -->
			<section id="career" class="main">
				<!-- special -->
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Career</h2>
						</header>
						<div>
							<h3>Team</h3>
							<p><pre>{{team_list}}</pre></p>
						</div>
						
						<!-- <div>
							<h3>Certificate</h3>
							<p>{{certificate_list}}</p>
							<br>
						</div>
						
						<div>
							<h3>Contest</h3>
							<p>{{contest_list}}</p>
							<br>
						</div>
						
						<div>
							<h3>Thesis</h3>
							<p>{{thesis_list}}</p>
							<br>
						</div> -->
					</div>
				</div>
			</section>

			<!-- Get Started -->
			<section id="contact" class="main special">
				<header class="major">
					<h2>Contact</h2>
				</header>
				<p>Email : <a href="mailto:{{email}}" target="_top">{{email}}</a></p>
                <p>Discord : <a href="{{discord_url}}" target="_top">{{discord_url}}</a></p>
				<p>Twitter : <a href="{{twitter_url}}" target="_top">{{twitter_url}}</a></p>
				</br></br>
				<h4 class="copyright">
					<a href="{{github_url}}/mireu/portfolio-webpages">Copyrightⓒ2022 by Mireu Lim</a>
				</h4>
			</section>
		</div>
	</div>
	<!-- Scripts -->

	<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>
</html>
